
body {
    font-family: Arial, sans-serif;
    background-color: #2d2f3f;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background-color: #e4a028;
    border-radius: 10px;
    box-shadow: 0 0 10px red(0, 0, 0, 0.2);
    padding: 20px;
    width: 500px;
  }
  
  .login-container h1 {
    margin: 0;
    font-size: 56px;
    color: #0d0e1e; 
  }
  ::placeholder {
    color: #0d0e1e;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"] {
    
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #444460;
    border-radius: 5px;
    font-size: 15px;
  }
  
  .login-container button {
    width: 100%;
    background-color: #ffb94ffb;
    color: #0d0e1e;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
  }
  
  
  .register-link {
    margin-top: 10px;
  }
  